@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.botonCreat {
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  background-color: #ccc;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 70px;
  right: 100px;
  z-index: 999; /* Asegura que el botón esté por encima del contenido de la página */
}

  
  .botonCreat:hover {
    background-color: #ffcccc;
  }