
.botonCreat {
  border-radius: 5px;
  background-color: #ffffff;
  color: #ff0000;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50px; 
  right: 20px; 
  z-index: 999; /* Asegura que el botón esté por encima del contenido de la página */
}

  
  .botonCreat:hover {
    background-color: #ffcccc;
  }