@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.divNav {
  font-family: 'Roboto', sans-serif;
    background-color: #ff0000;
    height: 60px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;

}

.cambio {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff; ;
  border-radius: 5px;
  height: 50px;
  
}

.refresh-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin-right: 0px;
}
.refresh-logo {
  width: 120px; /* Ajusta el tamaño según tus necesidades */
  height: 70px; /* Ajusta el tamaño según tus necesidades */
}


